@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Sidans Utseende */
body {
    font-family: 'Anton', sans-serif;
    color: #682f1c;
}
.kontainer {}
/* Sidhuvudets Utseende */
.kontainer .sidhuvud {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 30px;
}
.kontainer .sidhuvud img {
    margin-left: 50px;
}
.kontainer .sidhuvud ul {}
.kontainer .sidhuvud li {
    display: inline;

}
.kontainer .sidhuvud li a {
    color: #682f1c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    padding: 5px 10px;
}
/* Innehållets Utseende */
.kontainer .rutnat {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}
.kontainer .rutnat .produkt {
    padding-right: 20px;
}
.kontainer .rutnat .produkt h1 {}
.kontainer .rutnat .produkt h2 {}
.kontainer .rutnat .produkt img {}
.kontainer .rutnat .produkt p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}
.kontainer .ljus {
    background: #FEF1E5;
}
.kontainer .mork {
    background: #EFDAC5;
}