@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Slab&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* CSS clearfix mot box kollaps */
.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
/* Utseende på sidan */
body {
    background: url("./bilder/bakgrund.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.kontainer {
    font-family: 'Roboto Slab', serif;
    color: rgb(255, 255, 255);
    margin: auto;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.671);
    padding: 50px;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 60px;
    color: #000;
}
.intro {
    text-align: center;
}
/* Utseende på rutorna */
.ruta {
    margin-top: 50px;
    border-radius: 10px;
    padding: 50px;
    background: #000;
    color: #fff;

}
.bildtext {
    margin-top: 30px;
}
img {
    width: 300px;
    background: #fff;
    padding: 10px;
}
/* Utseende på sidfot */
.kalla {
    margin: 20p 0;
    font-style: italic;
    color: #000;
}
.vänster {
    float: left;
    margin-right: 10px;
}
.höger {
    float: right;
    margin-left: 10px;
}
.texthöger {
    text-align: right
}
hr {
    clear: both;
    visibility: hidden;
}