body {

}
table {
    width: 700px;
    table-layout: fixed;
    border-radius: 5px;
    border-collapse: collapse;
}
caption {
    padding: 10px;
    border: 1px solid black;
    background-color: grey;
}


th {
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    text-align: center; 
}

td {
    font-size: 18px padding: 10px;
    border-radius: 5px;
    text-align: center;
    padding: 8px;

}
tr {
    border: 1px solid black;
}
img {
    width: 50px;
}