@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
/* Utseende på sidan */
body{
    background: rgb(34, 218, 224);
}
.sidan{
    font-family: 'Open Sans', sans-serif;
    width: 700px;
    background: rgb(31, 146, 199);
     padding: 50px;
     margin: 50px auto 50px auto;
     border-radius: 8px;
     box-shadow: 0px 0px 5px #fff;
    
}
h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 7px #000;
    
}
/* Utseende på inlägg */
.inlagg{
background: rgb(240, 63, 201);
padding: 50px;
margin: 15px 0 15px 0;
border-radius: 10px;

}
.bild{
width: 100%;
border-radius: 6px;
border: solid 2px #fff;
background: #fff;
padding: 20px;
margin-bottom: 5px;
}
h2{
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}
.datum{
color: rgb(112, 183, 201);
}
p{
margin-top: 6px;
}
/* Utseende på sidfoten */
.namn{
font-style: italic;
}
