@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Poppins&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
/* Sidans färger 
$color1: rgba(112, 193, 179, 1);
$color2: rgba(36, 123, 160, 1);
$color3: rgba(178, 219, 191, 1);
$color4: rgba(243, 255, 189, 1);
$color5: rgba(255, 22, 84, 1);*/
/* Sidans Utseende */
body {
    background: #247BA0;
}
.kontainer {
    font-family: 'Poppins', sans-serif;
    width: 900px;
    margin: 0 auto;
    padding: 50px;
    background: #B2DBBF;
}
.kontainer h1 {
    font: 60px 'Fredoka One', cursive;
    text-align: center;
    color: rgba(112, 193, 179, 1);
    text-shadow: 2px 2px 0 #000;
}

/* Menyns Utseende */
.kontainer .meny {
    text-align: center;
    margin: 15px 0;
}
.kontainer .meny li {
    list-style-type: none;
    display: inline;
}
.kontainer .meny a {
    background: rgba(243, 255, 189, 1);
    padding: 8px;
    margin: 0 3px;
    color: rgba(36, 123, 160, 1);
    text-decoration: none;
    border-radius: 4px; 
}
.kontainer .meny a:hover {
    background: rgba(255, 22, 84, 1);
}
.kontainer .meny .aktiv {
    background: rgba(112, 193, 179, 1);
}

/* Innehållandets Utssende */
.kontainer h2 {
    text-align: center;
    color: rgba(255, 22, 84, 1);
    text-shadow: 1px 1px 0 #000;
    font-size: 25px;
}
.kontainer figure {
    background: rgba(243, 255, 189, 1);
    padding: 20px;
    width: 500px;
    border-radius: 5px;
    margin: 0 auto;
}
.kontainer figure img {
    width: 100%;
}
.kontainer figure figcaption {
    text-align: center;
    font-weight: bold;
    font-style: italic;

}
.kontainer p {
    margin: 10px 0;
}
.kontainer .sidfot a {
    color: rgba(36, 123, 160, 1);
    font-weight: bold;
    text-decoration: none;

}
.kontainer .sidfot {
    font-style: italic;
    color: #555;
}