body{
background-image: url("./bilder/jorden.jpg");
background-repeat: no-repeat;
background-color: #000;
background-position: center bottom;

}
h1{
color: white;
font-size: 150px;
font-family: sans-serif;
margin-left: 200px; 
margin-top: 50px;
width: 600px;
}